body{font-size:62.5%}
html.body{height:100%}
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
.modal-content::-webkit-scrollbar{
    width: 0 !important /* Chrome, Safari, Opera*/
}
.modal-title{font-weight:700 !important;}
.tool p{margin:0;letter-spacing:-1px;}
.modal-body > div{position: relative;margin-bottom:0.5rem !important}
.modal-body h2{margin:0 !important;position: absolute;top:35%;}
.modal-body li img{width:3rem !important;height:3rem !important;}
.modal-body li{margin-right:0.5rem !important;}
.modal-body ul{overflow:hidden;margin-top:0.5rem !important;margin-bottom:0 !important}
.modal-content{width:32.5rem !important}
@media all and (min-width:1025px){
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.4rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2){background:none ;}
    .table_wrap table td:nth-child(3){text-align: left;}
    .table_wrap table td:nth-child(2) img{width:6rem;height:6rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;border-radius:10px;border:2px solid #7a8ca1;}
    .table_wrap table td:last-child img{width:13.1rem;height:3.65rem;}
    .table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 2rem}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 2rem}
    .modal-backdrop.in{opacity:.9;}
    .modal-title{color:#28b3b5;font-weight:400;}
    .modal-title span{color:#333}
    .gray{-webkit-filter: grayscale(100%);filter: gray;}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
    .table_wrap table td:nth-child(7){position: relative;}
    .tool{position: absolute;left:-145px;top:15px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;}
    .tool p{margin:0}
    .table_scroll_wrap_m{height:75rem;}
    .table_scroll_wrap{overflow-y:scroll;height:88rem;padding-bottom:2rem}
}
@media all and (max-width:1024px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.4rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:6rem;height:6rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;border-radius:10px;border:2px solid #7a8ca1;}

    .table_wrap table td:last-child img{width:13.1rem;height:3.65rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 2rem}
    .modal-backdrop.in{opacity:.9;}
    .modal-title{color:#28b3b5;font-weight:400;}
    .modal-title span{color:#333}
    .gray{-webkit-filter: grayscale(100%);filter: gray;}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
    .table_wrap table td:nth-child(2){background:none ;}
.table_wrap table td:nth-child(3){text-align: left;}
.table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 2rem}
.table_wrap table td:nth-child(7){position: relative;}
.tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-145px;width:15rem}
.table_scroll_wrap_m{height:53rem;padding-bottom:2rem}
.table_scroll_wrap{overflow-y:scroll;height:62rem;padding-bottom:2rem}
    .tool p{margin:0}
}
@media all and (min-width:824px) and (max-width:1023px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.2rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:5rem;height:5rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;}
    .table_wrap table td:last-child img{width:13.1rem;height:3.65rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 2rem}
    .modal-backdrop.in{opacity:.9;}
    .modal-title{color:#28b3b5;font-weight:400;}
    .modal-title span{color:#333}
    .gray{-webkit-filter: grayscale(100%);filter: gray;}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:1rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
    .tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-145px;width:15rem}
    .table_scroll_wrap_m{height:53rem;padding-bottom:2rem}
    .table_scroll_wrap{overflow-y:scroll;height:62rem;padding-bottom:2rem}
}
/* pixel 2xl*/
@media all and (min-width:813px) and (max-width:823px){
    .tool{left:-150px}
    .table_scroll_wrap_m{height:17.5rem;padding-bottom:2rem}
    .table_scroll_wrap{overflow-y:scroll;height:26.8rem;padding-bottom:2rem}
}
@media all and (min-width:737px) and (max-width:812px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.4rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:6rem;height:6rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;}
    .table_wrap table td:last-child img{width:13.1rem;height:3.65rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 2rem}
    .modal-backdrop.in{opacity:.9;}
    .modal-title{color:#28b3b5;font-weight:400;}
    .modal-title span{color:#333}
    .gray{-webkit-filter: grayscale(100%);filter: gray;}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
    .table_wrap table td:nth-child(2){background:none ;}
    .table_wrap table td:nth-child(3){text-align: left;}
    .table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 2rem}
    .table_wrap table td:nth-child(7){position: relative;}
    .tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-150px;width:15rem}
    .table_scroll_wrap_m{height:14rem;padding-bottom:2rem}
    .table_scroll_wrap{overflow-y:scroll;height:23.5rem;padding-bottom:2rem}
    .tool p{margin:0}
}
@media all and (min-width:732px) and (max-width:736px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.2rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:5rem;height:5rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;}
    .table_wrap table td:last-child img{width:13.1rem;height:3.65rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 1rem}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
.table_wrap table td:nth-child(2){background:none ;}
.table_wrap table td:nth-child(3){text-align: left;}
.table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 2rem}
.table_wrap table td:nth-child(7){position: relative;}
.tool{position: absolute;top:20%;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-150px;width:15rem}
.table_scroll_wrap_m{height:17.8rem;padding-bottom:2rem}
.table_scroll_wrap{overflow-y:scroll;height:27rem;padding-bottom:2rem}
    .tool p{margin:0}

}
/*pixel2*/
@media all and (min-width:668px) and (max-width:731px) {
    #tab-1 .table_wrap table td:nth-child(2) img{margin-right:1rem;}
    .table_scroll_wrap{overflow-y:scroll;height:27rem;padding-bottom:2rem}
    .tool{left:-150px}
}
@media all and (min-width:641px) and (max-width:667px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.2rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:4rem;height:4rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;}
    .table_wrap table td:last-child img{width:11.1rem;height:3.2rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 1rem}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
.table_wrap table td:nth-child(2){background:none ;}
.table_wrap table td:nth-child(3){text-align: left;}
.table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 1.5rem}
.table_wrap table td:nth-child(7){position: relative;}
.tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-150px;width:15rem}
.table_scroll_wrap_m{height:14rem;padding-bottom:2rem}
.table_scroll_wrap{overflow-y:scroll;height:23.5rem;padding-bottom:2rem}
.tool p{margin:0}
}
@media all and (min-width:569px) and (max-width:640px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.2rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:4rem;height:4rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:3.2rem;height:3.2rem;}
    .table_wrap table td:last-child img{width:11.1rem;height:3.2rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 1rem}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
.table_wrap table td:nth-child(2){background:none ;}
.table_wrap table td:nth-child(3){text-align: left;}
.table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 1.5rem}
.table_wrap table td:nth-child(7){position: relative;}
.tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-150px;width:15rem}
.table_scroll_wrap_m{height:12.5rem;padding-bottom:2rem}
.table_scroll_wrap{overflow-y:scroll;height:22.2rem;padding-bottom:2rem}
    .tool p{margin:0}
}
@media all and (max-width:568px) {
    .form-control{font-size:1.5rem;color:#333;float:left;border:1px solid #151515;border-radius:0;width:24rem}
    .form-control:first-child{margin-right:10px}
    .hero_stat_item_list_head{
        background-image:url('../images/bg_content_stat_party_detail.png'); 
        height: 7.9rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:2rem
    }
    .hero_stat_item_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_item_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_item_list_head > div:first-child{float:left;}
    .hero_stat_item_list_head > div:last-child{float:right;}
    .hero_stat_item_list_head img{width:2.5rem;height:2.5rem}

    .tab-content{
    display: none;  

    }
    .tab-content.current{
    display: inherit;
    }
    .table_wrap{width:100%;padding:2rem 2rem 0 2rem;overflow-y:scroll;}
    .table_wrap table{width:100%;font-size:1.2rem;}
    .table_wrap table th{color:#666;text-align:center;padding-bottom:2rem;background-image:url('../images/img_hero_table_head.png');
        background-repeat:no-repeat;background-position:right 3px;background-size:1px 12px}
    .table_wrap table th:last-child{background:none}
    .table_wrap table td{color:#333;border-top:1px solid #a2abab;border-bottom:1px solid #a2abab;text-align:center;padding:1rem 0;
        background-image:url('../images/img_hero_table_head.png');background-repeat:no-repeat;background-position:right center;background-size:1px 24px;letter-spacing:-1px;}
    .table_wrap table td:last-child{background: none;}
    .table_wrap table td:first-child{border-left:1px solid #a2abab}
    .table_wrap table td:last-child{border-right:1px solid #a2abab}
    .table_wrap table td:nth-child(2) img{width:3rem;height:3rem;border-radius:10px;}
    .table_wrap table td:nth-child(7) img{width:2.8rem;height:2.8rem;}
    .table_wrap table td:last-child img{width:10rem;height:3rem;}
    .table_wrap table td:nth-child(4),.table_wrap table td:nth-child(5),.table_wrap table td:nth-child(6){text-align:left;padding:0 1rem}
    .modal-header,.modal-footer{border:none}
    .modal-header{padding-bottom:0}
    .modal-header .close{opacity:1;font-size:30px;font-weight:100;}
    .modal-footer{padding-top:0}
    .modal-content{width:37rem;margin:0 auto;padding-bottom:0;overflow-y:scroll;}
    .modal-body{overflow: hidden;clear:both;}
    .modal-body > div{border:1px solid #a2abab;overflow:hidden;padding:0 1rem;margin-bottom:1rem}
    .modal-body h2{float:left;font-size:1.4rem;font-weight:bold;}
    .modal-body li{float:left;display:inline-block;list-style:none;margin-right:1rem;margin-bottom:0.5rem}
    .modal-body li:last-child{margin-right:0}
    .modal-body li img{width:3.6rem;height:3.6rem;vertical-align:top;border-radius:10px;border:2px solid #7a8ca1;}
    .modal-body li .on{border:2px solid #28b3b5}
    .modal-footer{text-align:center;}
    .modal-footer button{text-align:center;background:#28b3b5;color:white;border:none;width:10rem;height:3.1rem;font-size:1.4rem;}
.table_wrap table td:nth-child(2){background:none ;}
.table_wrap table td:nth-child(3){text-align: left;}
.table_wrap table td:last-child button{border:none;text-align:center;background:#28b3b5;color:white;font-size:1.2rem;padding:1rem 1.5rem}
.table_wrap table td:nth-child(7){position: relative;}
.tool{position: absolute;top:7px;background:white;border-radius:10px;border:2px solid #28b3b5;padding:1rem;display:none;left:-150px;width:15rem}
.table_scroll_wrap_m{height:10rem;padding-bottom:2rem}
.table_scroll_wrap{overflow-y:scroll;height:18rem;padding-bottom:2rem}
    .tool p{margin:0}
}