body{font-size:62.5%}
html.body{height:100%}
li{list-style:none;}
input[type="radio"] {
    display:none;
}
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
label{font-weight:400;}
@media all and (min-width:1025px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    .row{margin:0}
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 102.4rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.7rem;}
    .hero_stat_list_menu{float:left;width:17%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:90px;height:90px;float:left;display:inline-block;margin-right:3rem;position: relative;
    margin-bottom:1rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1.5rem}
}
@media all and (max-width:1024px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    .row{margin:0}
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 76.8rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.7rem;}
    .hero_stat_list_menu{float:left;width:17%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:90px;height:90px;float:left;display:inline-block;margin-right:3rem;position: relative;
    margin-bottom:1rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1.5rem}
}

@media all and (min-width:768px) and (max-width:1023px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 42.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.7rem;}
    .hero_stat_list_menu{float:left;width:17%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:16.1rem}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;height:28.8rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:80px;height:80px;float:left;display:inline-block;margin-right:1rem;position: relative;
        margin-bottom:2rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1.5rem}
}

@media all and (min-width:737px) and (max-width:812px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 37.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.7rem;}
    .hero_stat_list_menu{float:left;width:19%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:12.1rem}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;height:23.3rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:90px;height:90px;float:left;display:inline-block;margin-right:2rem;position: relative;
        margin-bottom:2rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1.5rem}
}

@media all and (min-width:668px) and (max-width:736px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 41.4rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2.5rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.7rem;}
    .hero_stat_list_menu{float:left;width:20%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:16.1rem}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;height:28.3rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:80px;height:80px;float:left;display:inline-block;margin-right:2rem;position: relative;
        margin-bottom:2rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1.5rem}
}

@media all and (min-width:641px) and (max-width:667px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 37.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.2rem;}
    .hero_stat_list_menu{float:left;width:20%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:11.9rem}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;height:25rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:70px;height:70px;float:left;display:inline-block;margin-right:2rem;position: relative;
        margin-bottom:1.5rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1rem}
}

@media all and (min-width:569px) and (max-width:640px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 36rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.2rem;}
    .hero_stat_list_menu{float:left;width:20%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.4rem;color:#333;line-height:2.6rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:11rem}
    .hero_stat_list_img_wrap{float:right;width:75%;overflow-y: scroll;height:24rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:70px;height:70px;float:left;display:inline-block;margin-right:2rem;position: relative;
        margin-bottom:1rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1rem}
}

@media all and (max-width:568px) {
    ul{padding:1rem 0 1rem 1rem !important}
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_off.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }

    input[type="radio"]:checked + label span {
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        background-image:url('../images/bg_radio_on.png') ;
        background-repeat:no-repeat;
        background-position:left 0 ;
        background-size: cover;
        cursor:pointer;
        margin-right:1rem
    }
    .hero_stat_list_wrap{
        background-image:url('../images/bg_hero_stat_list.png'); 
        height: 32rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding:1.5rem 2rem
    }
    .hero_stat_list_head{margin-bottom:1.5rem}
    .hero_stat_list_head h1{
        color:white;
        font-size:2rem;
        margin:0 !important;
        
    }
    .row{margin:0}
    .hero_stat_list_head h1 img{width:2.5rem;height:2.5rem;margin-right:1rem;margin-top:-3px}
    .hero_stat_list_head h1 span{font-size:1.2rem;}
    .hero_stat_list_menu{float:left;width:23%}
    .hero_stat_list_menu > div{background:white;border-radius:10px;}
    .hero_stat_list_menu > div li{font-size:1.2rem;color:#333;line-height:2.2rem;}
    .hero_stat_list_menu > div li input{margin-right:5px}
    .hero_stat_list_menu > div:last-child{overflow-y: scroll;height:8rem}
    .hero_stat_list_img_wrap{float:right;width:70%;overflow-y: scroll;height:18rem}
    .hero_stat_list_img_wrap ul{padding:0 !important}
    .hero_stat_list_img_wrap ul li{border:5px solid #28475e;border-radius:10px;width:70px;height:70px;float:left;display:inline-block;margin-right:2rem;position: relative;
        margin-bottom:1rem}
    .hero_stat_list_img_wrap ul li:last-child{margin-right:0}
    .hero_stat_list_img_wrap ul li img{width:100%;height:100%;border-radius:6px;}
    .hero_stat_list_img_wrap ul li.on{border:5px solid #28b3b5;}
    .hero_stat_list_img_wrap ul li span{position: absolute;font-size:1.2rem;color:white;bottom:0px;text-align:center;width:100%;text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
    .hero_select_btn{clear:both;width:27rem;height:4.2rem;margin:0 auto}
    button{clear:both;background:#28b3b5;color:white;border:none;width:27rem;height:4.2rem;text-align:center;font-size:1.5rem;margin-top:1rem}
}