body{font-size:62.5%}
html.body{height:100%}
/* PC , 테블릿 가로 (해상도 1024px)*/
@media all and (min-width:1025px) { 
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 102.4rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:39%;left:2rem;}
    .prev img{float:right;width:4.3rem;height:8rem;}
    .next{top:39%;right:2rem;}
    .next img{float:right;width:4.3rem;height:8rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:27rem;
        left:13rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 37rem;
        width:30rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:42%;width:10rem;height:10rem;}
    .btn_move_content_stat{
        position: absolute;
        top:27rem;
        right:13rem;
        background-image:url('../images/btn_content_stat_test.png'); 
        height: 37rem;
        width:30rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:42%;width:13.1rem;height:10.2rem;}
}
@media all and (max-width:1024px) { 
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 76.8rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:41%;left:2rem;}
    .prev img{float:right;width:4.3rem;height:8rem;}
    .next{top:41%;right:2rem;}
    .next img{float:right;width:4.3rem;height:8rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:22rem;
        left:9rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 28rem;
        width:23rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:42%;width:8.5rem;height:8.4rem;}
    .btn_move_content_stat{
        position: absolute;
        top:22rem;
        right:9rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 28rem;
        width:23rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:42%;width:11.1rem;height:8.2rem;}
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 42.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:39%;left:2rem;}
    .prev img{float:right;width:3.48rem;height:6.8rem;}
    .next{top:39%;right:2rem;}
    .next img{float:right;width:3.48rem;height:6.8rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:11rem;
        left:7.5rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 18.4rem;
        width:15.3rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:45%;width:5.3rem;height:4.6rem;}
    .btn_move_content_stat{
        position: absolute;
        top:11rem;
        right:7.5rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 18.4rem;
        width:15.3rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:45%;width:6.4rem;height:4.6rem;}
}

/* 모바일 가로, 테블릿 세로 (해상도 736px ~ 812px)*/
@media all and (min-width:736px) and (max-width:812px) {
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 37.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:44%;left:2rem;}
    .prev img{float:right;width:3.48rem;height:6.8rem;}
    .next{top:44%;right:2rem;}
    .next img{float:right;width:3.48rem;height:6.8rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:9rem;
        left:7.5rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 22rem;
        width:18.3rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:42%;width:6.3rem;height:6.6rem;}
    .btn_move_content_stat{
        position: absolute;
        top:9rem;
        right:7.5rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 22rem;
        width:18.3rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:42%;width:8.4rem;height:6.6rem;}
}

/* 모바일 가로, 테블릿 세로 (해상도 667px ~ 735px)*/
@media all and (min-width:667px) and (max-width:735px) {
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 37.5rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:42%;left:2rem;}
    .prev img{float:right;width:2.1rem;height:4.2rem;}
    .next{top:42%;right:2rem;}
    .next img{float:right;width:2.1rem;height:4.2rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:9rem;
        left:7rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 17.3rem;
        width:14.7rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:41%;width:5.3rem;height:4.6rem;}
    .btn_move_content_stat{
        position: absolute;
        top:9rem;
        right:7rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 17.3rem;
        width:14.7rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:41%;width:6.4rem;height:4.6rem;}
}

/* 모바일 가로, 테블릿 세로 (해상도 640px ~ 666px)*/
@media all and (min-width:640px) and (max-width:666px) {
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 36rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:42%;left:2rem;}
    .prev img{float:right;width:2.1rem;height:4.2rem;}
    .next{top:42%;right:2rem;}
    .next img{float:right;width:2.1rem;height:4.2rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:9rem;
        left:7rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 17.3rem;
        width:14.7rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:41%;width:5.3rem;height:4.6rem;}
    .btn_move_content_stat{
        position: absolute;
        top:9rem;
        right:7rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 17.3rem;
        width:14.7rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:41%;width:6.4rem;height:4.6rem;}
}

/* 모바일 가로, 테블릿 세로 (해상도 568 ~ 639px)*/
@media all and (min-width:568px) and (max-width:639px) {
    .index_wrap_bg{
        background-image:url('../images/bg_index_hero.png'); 
        height: 32rem;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .arrow{position: absolute;}
    .prev{top:42%;left:2rem;}
    .prev img{float:right;width:2.1rem;height:4.2rem;}
    .next{top:42%;right:2rem;}
    .next img{float:right;width:2.1rem;height:4.2rem;}
    
    .btn_move_hero_stat{
        position: absolute;
        top:9rem;
        left:6rem;
        background-image:url('../images/btn_hero_stat.png'); 
        height: 13.5rem;
        width:11.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
    }
    .btn_move_hero_stat img{margin-top:41%;width:3.5rem;height:3.8rem;}
    .btn_move_content_stat{
        position: absolute;
        top:9rem;
        right:6rem;
        background-image:url('../images/btn_content_stat.png'); 
        height: 13.5rem;
        width:11.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .btn_move_content_stat img{margin-top:41%;width:5.4rem;height:3.8rem;}
}
/* index */